<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>{{baslik}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="theme.css" rel="stylesheet">
  </head>
  <body>
    <h1>{{baslik}} Formu</h1>
    {% if form.errors %}
      <font color="red">Hatalı yerleri duzeltiniz</font>
    {% endif %}
    <form method="POST">
   
    <table border=1>
      {{form}} 
    </table>
    <input type="submit" value="Gönder">
    {% if ID %}
	<p><a href="?id={{ID}}&sil=1">Bu Kaydı Sil</a></p>
    {% endif %}
    </form>
    <p><a href="/yonetim/">Anasayfa</p>
  </body>

</html>